body {
  margin: 30px;
}

h1 {
  margin-top: 40px;
  font-family: "Varela Round", sans-serif;
  color: #318fb5;
}

h2 {
  font-family: "Varela Round", sans-serif;
}

h2,
h3 {
  font-size: 20px;
  color: #495057;
}
h3 {
  font-family: "Varela Round", sans-serif;
  padding: 10px;
  margin-left: -10px;
}

h3 i {
  color: grey;
  opacity: 0.5;
  font-size: 50px;
  position: relative;
  left: 30px;
}

h4 {
  margin: 30px auto;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  color: #318fb5;
}

p {
  color: #495057;
}

button {
  display: inline-block;
  position: relative;
  right: 30px;
}

small {
  text-align: center;
}

.container {
  display: block;
}

.btn-primary {
  left: -10px;
}
.btn-success {
  left: -20px;
}

.currentTemp {
  font-family: "Varela Round", sans-serif;
  font-size: 1.75rem;
}

.precipitation-card {
  position: relative;
  top: -130px;
  left: 100px;
  margin: 0 auto;
}

.card-body {
  font-family: "Varela Round", sans-serif;
  color: #495057;
}

.col-2 i {
  font-size: x-large;
  text-align: center;
  color: #495057;
}

.today {
  font-family: "Varela Round", sans-serif;
}

.forecast {
  position: relative;
  left: 95px;
  text-align: center;
  color: #495057;
}

#currentTemp {
  font-size: 30px;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
  display: block;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  display: block;
}

.repository {
  text-align: left;
}
