body {
  margin: 30px;
  border: 1px solid grey;
  border-radius: 10px;
}

h1 {
  margin-top: 40px;
  font-family: "Varela Round", sans-serif;
  color: #318fb5;
}

h2 {
  font-family: "Varela Round", sans-serif;
}

h3 {
  font-family: "Varela Round", sans-serif;
  padding: 10px;
  margin-left: -10px;
}

h3 i {
  color: grey;
  opacity: 0.5;
  font-size: 50px;
  position: relative;
  left: 30px;
}

h4 {
  margin: 30px auto;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  color: #318fb5;
}

button {
  display: inline-block;
  position: relative;
}

.currentTemp {
  font-family: "Varela Round", sans-serif;
  font-size: 1.75rem;
}

.container {
  display: block;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin-right: 0;
  margin-left: 0;
}

.enter {
  margin-top: 5px;
  box-shadow: 5px 5px 5 px 10px (0, 0, 0, 0.3);
}

.precipitation-card {
  position: relative;
  top: -130px;
  left: 100px;
  border: thick double #1f3c88;
  border-radius: 4px;
  margin: 0 auto;
}

.card-body {
  font-family: "Varela Round", sans-serif;
  color: #318fb5;
}

.col-2 i {
  font-size: x-large;
  text-align: center;
}

.today {
  font-family: "Varela Round", sans-serif;
}

.forecast {
  position: relative;
  left: 95px;
  text-align: center;
}

#currentTemp {
  font-size: 30px;
}
